.account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.header {
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
}

.input-field {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;

  &--div {
    width: 85vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.btn-only {
  margin: 0;
  margin-top: 20px;
  width: 90%;
}

/* Adjustments for large screens (tablets and computers) */
@media only screen and (min-width: 770px) {
  .account-page {
    padding: 50px;
  }

  .header {
    font-size: 48px;
    padding: 50px;
  }

  .input-field {
    flex-direction: row;
    justify-content: center;

    &--div {
      width: auto;
    }
  }

  .btn-only {
    margin: 25px;
    width: auto;
  }
}
